# Slack API
SLACK_SIGNING_SECRET=<your-key-here>
SLACK_BOT_TOKEN=<your-key-here>
SLACK_APP_TOKEN=<your-key-here>

# OpenAI API
OPENAI_API_KEY=<your-key-here>
OPENAI_ASSISTANT_ID=<your-key-here>

# Application settings
REDIS_URL=redis://localhost:6379
SERVER_API_PORT=8000
API_SECRET=3e8f2b1c-7d4a-4a2e-9c8e-5f6b7a9d2c1f
SSL_KEY_PATH=/cert/ssl.key
SSL_CERT_PATH=/cert/ssl.crt
